$cursive-font: 'Comfortaa', sans-serif;
$sans-font: 'Open Sans', sans-serif;
$pink-color: #5c33b9;

.fotorama {
  width: 50%;
  margin: 100px auto 0 auto;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 95%;
  height: 75px;
  margin: 0 25px;
  z-index: 100;
  background-color: #fff;
}

.landing-page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  font-size: 1em;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  font-family: 'Pacifico', cursive;
  border-radius: 50%;
  border: 3px solid #000;
}

.nav-links {
  a {
    font-family: $sans-font;
    text-decoration: none;
    font-weight: 600;
    margin: 0 15px;
    color: #000;
    transition: all 150ms ease-in-out;

    &:hover {
      color: $pink-color;
      transition: all 150ms ease-in-out;
    }
  }
}

.landing-name {
  text-align: center;

  h1, h2 {
    font-family: $cursive-font;
    margin: 0;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    color: $pink-color;
    font-size: 1.75em;
    font-family: 'Pacifico', cursive;
  }
}

#contact-btn {
  border: 2px solid $pink-color;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 150ms ease-in-out;

  &:hover {
    transition: all 150ms ease-in-out;
    color: #fff;
    background-color: $pink-color;
  }
}

.hidden {
  display: none;
}

.visually-hidden {
  opacity: 0;
}

#social {
  position: relative;
  top: 20px;

  a {
    color: #ff006a;
    margin: 0 10px;
  }
}